## -*- coding: utf-8 -*-
<div id="year_ago_post">
  <h2>
    Un año atrás
  </h2>
  <p>
    <a href="link://${ year_ago_post.permalink() }" class="listtitle">${ year_ago_post.title(lang) }</a>
  </p>
</div>

