Please edit the contents of the file
templates/summary/agreement.template to suit your needs.
If you do not need a service agreement to be accepted by end users, please
disable this feature by setting 'summary_show_agreement' to 'No' via the
administration interface.