<div class="spacer">&nbsp;</div>
<div id="footer">
  Powered by <a href="http://www.lifetype.net">LifeType</a>	-
  Design by <a href="http://www.balearweb.com">BalearWeb</a> 
</div>
</div>
</body>
</html>