Hello,

you have requested your password to be reset. Please click the
url below to set up a new password for your user:

{$reseturl}

Please ignore this message if you did not request your password to be reset.

Have a nice day.