{include file="$blogtemplate/header.template" selected="register" columns=1 section=$locale->tr("error")}
<div id="onecolumn">
 <p>
  <span style="color: red">{$viewErrorMessage}</span>
 </p>
 <p>
<a href="#" onclick="javascript:history.go(-1)">&laquo; {$locale->tr("back")}</a>
 </p>
</div>
{include file="$blogtemplate/footer.template"}
