# Created by .ignore support plugin (hsz.mobi)
### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
nikola/
.idea/

site/output/
site/cache/
site/.doit.db
*.wxr 
*.egg-info/
.installed.cfg
*.egg

# temporary databases
/site/.doit.db
*.sqlite

# charm stuff
charm/build
charm/*.charm

spam/mail.txt
spam/maildirs.txt
