# Created by .ignore support plugin (hsz.mobi)
### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
nikola/
.idea/

site/output/
site/cache/
site/posts/*.rst
site/.doit.db
*.egg-info/
.installed.cfg
*.egg


/site/.doit.db

