## -*- coding: utf-8 -*-
<%namespace name="base" file="base_helper.tmpl" import="*"/>
${set_locale(lang)}
${base.html_headstart()}
<%block name="extra_head">
### Leave this block alone.
</%block>
${template_hooks['extra_head']()}

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>

<link href="${rel_link(permalink,'/assets/css/tagcloud-es-small.css')}" rel="stylesheet" type="text/css">
<link rel="alternate stylesheet" href="${rel_link(permalink,'/assets/css/printer-friendly.css')}" media="screen" title="printer-friendly">
<link rel="stylesheet" href="${rel_link(permalink,'/assets/css/printer-friendly.css')}" media="print">
</head>
<body>
<div id="wrapper">
    <div id="container">
        <div id="content">
            <div id="header">
                <h1 id="blog-title">
                    <a href="${blog_url}" title="${blog_title}">${blog_title}</a>
                </h1>
                <%block name="belowtitle">
                %if len(translations) > 1:
                <small>
                    ${messages("Also available in:")}&nbsp;
                    %for langname in translations.keys():
                        %if langname != lang:
                            <a href="${_link("index", None, langname)}">${messages[langname]["LANGUAGE"]}</a>
                        %endif
                    %endfor
                </small>
                %endif
                </%block>
            </div>
        <div class="hfeed">
            <!--Body content-->
            <%block name="content"></%block>
            <!--End of body content-->
        </div><!-- .hfeed -->
    </div><!-- #content -->
</div><!-- #container -->

<div id="sidebar_outer" class="theme_sidebar">
    <ul>
        <li>${search_form}</li>
    </ul>
    <div id="propaganda_c">
    </div><!-- to include a random propaganda -->

    <div id="sidebar_inner">
    </div><!-- to include sidebar generated by plugin -->
    <div id="tag_cloud">
    </div><!-- to include tag cloud generated by plugin -->
    <ul>
        %for url, text in navigation_links[lang]:
            <li><h3><a href="${rel_link(permalink, url)}">${text}</a></h3>
            ${template_hooks['menu']()}
            ${template_hooks['menu_alt']()}
        %endfor
        <li>${license}</li>

    </ul>
    <a class="twitter-timeline"
       href="https://twitter.com/facundobatista?ref_src=twsrc%5Etfw" data-tweet-limit="5">
        Tweets by facundobatista</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8">
        </script>
</div><!-- #primary .theme_sidebar -->

<div id="footer">
    <span id="theme-link"><a href="http://www.plaintxt.org/themes/blogtxt/" title="blog.txt theme for WordPress" rel="follow designer">blog.txt</a> 'theme by <span class="vcard"><a class="url fn n" href="http://scottwallick.com/" title="scottwallick.com" rel="follow designer"><span class="given-name">Scott</span><span class="additional-name"> Allan</span><span class="family-name"> Wallick</span></a></span></span>
    <small>${content_footer}
            ${template_hooks['page_footer']()}
 </small><p>
</div><!-- #footer -->

</div><!-- #wrapper -->
    ${body_end}
    ${template_hooks['body_end']()}
    ${base.late_load_js()}
<script>
$( "#propaganda_c" ).load( "${rel_link(permalink,'/propaganda_c.html')}" );
$( "#sidebar_inner" ).load( "${rel_link(permalink,'/sidebar-es.html')}" );
$( "#tag_cloud" ).load( "${rel_link(permalink,'/tagcloud-es.inc.html')}" );
</script>
<script src="${rel_link(permalink,'/assets/js/printer-friendly.js')}"></script>
</body>
</html>
