## -*- coding: utf-8 -*-
<%namespace name="base" file="base_helper.tmpl" import="*"/>
${set_locale(lang)}
${base.html_headstart()}
<%block name="extra_head">
### Leave this block alone.
</%block>
${template_hooks['extra_head']()}

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<link href="${rel_link(permalink,'/assets/css/tagcloud-es-small.css')}" rel="stylesheet" type="text/css">
<link rel="alternate stylesheet" href="${rel_link(permalink,'/assets/css/printer-friendly.css')}" media="screen" title="printer-friendly">
<link rel="stylesheet" href="${rel_link(permalink,'/assets/css/printer-friendly.css')}" media="print">
<link href="${rel_link(permalink,'/assets/css/bitacora-theme.css')}" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="main_container">
        <div id="header">
            <div id="blog-title">
                <h1>
                    <a href="${blog_url}" title="${blog_title}">${blog_title}</a>
                </h1>
            </div>
            <div id="blog-subtitle">
                <div class="author">
                    <h3>
                        ${blog_author}
                    </h3>
                </div>
                <div id="search-container">
                    <div class="icon">
                        <img class="search-icon" src="/assets/images/search-icon.png" alt="Search" />
                    </div>
                    <div class="form">
                        ${search_form}
                    </div>
                </div>
            </div>
            <%block name="belowtitle">
            %if len(translations) > 1:
            <small>
                ${messages("Also available in:")}&nbsp;
                %for langname in translations.keys():
                    %if langname != lang:
                        <a href="${_link("index", None, langname)}">${messages[langname]["LANGUAGE"]}</a>
                    %endif
                %endfor
            </small>
            %endif
            </%block>
        </div>


        <div class="row">

            <div id="content">
                <div class="hfeed">
                    <!--Body content-->
                    <%block name="content"></%block>
                    <!--End of body content-->
                </div><!-- .hfeed -->
            </div><!-- #content -->

            <div id="sidebar_outer" class="theme_sidebar">
                <h2>Propaganda</h2>
                <div id="propaganda_c"></div> <!-- to include a random propaganda -->

                <h2>Un año atrás</h2>
                <div id="timeago"></div> <!-- to a "year ago" box generated by plugin -->

                <h2>Etiquetas</h2>
                <div id="tag_cloud"></div> <!-- to include tag cloud generated by plugin -->

                <h2>Twitter</h2>
                <a class="twitter-timeline" href="https://twitter.com/facundobatista?ref_src=twsrc%5Etfw" data-tweet-limit="5">
                    Tweets by facundobatista
                </a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"> </script>

                <h2>Enlaces</h2>
                <div id="static_links"></div> <!-- to include static links generated by plugin -->

            </div><!-- #primary .theme_sidebar -->
        </div><!-- .row -->



    </div><!-- #wrapper -->
    <div id="footer">
        <div class="container">
            <h3 id="footer-title">
                ${blog_title}
            </h3>

            <div id="footer-body" class="row">
                <div>
                    <p>Licencia</p>
                    <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/es/" title="CC BY-NC-SA">
                        <img id="license-img" src="/assets/images/license.png" />
                    </a>
                </div>
                <div>
                    <p>Contacto</p>
                    <img id="contact-img" src="/assets/images/contact.png" />
                </div>
                <div>
                    <p>RSS</p>
                    <a href="/rss.xml" title="Canal RSS">
                        <img class="theme-icon" src="/assets/images/rss-icon.png" />
                    </a>
                </div>
                <div>
                    <p>Archivo</p>
                    <div id="archive_bar"> </div><!-- to include archive month list generated by plugin -->
                </div>
            </div>

        </div>
    </div><!-- #footer -->

        ${body_end}
        ${template_hooks['body_end']()}
        ${base.late_load_js()}
    <script>
    $( "#archive_bar" ).load( "${rel_link(permalink,'/archive_bar-es.html')}" );
    $( "#propaganda_c" ).load( "${rel_link(permalink,'/propaganda_c.html')}" );
    $( "#static_links" ).load( "${rel_link(permalink,'/static_links.html')}" );
    $( "#tag_cloud" ).load( "${rel_link(permalink,'/tagcloud-es.inc.html')}" );
    $( "#timeago" ).load( "${rel_link(permalink,'/timeago.html')}" );
    </script>
    <script src="${rel_link(permalink,'/assets/js/printer-friendly.js')}"></script>
    <script src="${rel_link(permalink,'/assets/js/alt-image-hack.js')}"></script>

</script>

</body>
</html>
