## -*- coding: utf-8 -*-
<%namespace name="helper" file="post_helper.tmpl"/>
<%namespace name="pheader" file="post_header.tmpl"/>
<%namespace name="comments" file="comments_helper.tmpl"/>
<%inherit file="base.tmpl"/>
<%block name="extra_head">
${helper.twitter_card_information(post)}
% if post.meta('keywords'):
    <meta name="keywords" content="${post.meta('keywords')|h}">
% endif
</%block>
<%block name="content">
    <div id="post-${post.meta('slug')}" class="post hfeed">
        <h2 class="entry-title"><a href='${permalink}'>${title}</a></h2>
        
        <div class="archive-meta">
            ${messages("Posted:")} <time class="published" datetime="${post.date.isoformat()}">${post.formatted_date(date_format)}</time>
            <span class="meta-sep">|</span>
            ${pheader.html_translations(post)}
            <%block name="sourcelink">
            % if not post.meta('password'):
                <a href="${post.source_link()}" id="sourcelink">${messages("Source")}</a>
            % endif
            </%block>
                ${helper.html_tags(post)}
            <span class="entry-tags">
            </span>
        </div>
        <div class="entry-content">
            ${post.text()}
        </div>
        <div class="entry-actions row fl-jus-end">
            <a id="comments_link" href="#">Comments</a>
            <a id="printer_friendly_link" href="#" onclick="switch_printer_friendly( false ); return false;">Print this page</a>
        </div>
    </div>
    ${helper.html_pager(post)}
    % if not post.meta('nocomments'):
        ${comments.comment_form(post.permalink(absolute=True), post.title(), post.base_path)}
    % endif
    ${helper.mathjax_script(post)}
    </div>
    <div id="propaganda_r">
    </div><!-- to include a random propaganda -->
<script>
$("#propaganda_r" ).load( "${rel_link(permalink,'/propaganda_r.html')}" );
</script>
<div id="disqus_thread"></div>
<script>
    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT
     *  THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR
     *  PLATFORM OR CMS.
     *
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT:
     *  https://disqus.com/admin/universalcode/#configuration-variables
     */
    /*
    var disqus_config = function () {
        // Replace PAGE_URL with your page's canonical URL variable
        this.page.url = PAGE_URL;

        // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        this.page.identifier = "${post.post_name}";
    };
    */

    (function() {  // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
        var d = document, s = d.createElement('script');

        // IMPORTANT: Replace EXAMPLE with your forum shortname!
        s.src = 'https://bitacora-de-vuelo.disqus.com/embed.js';

        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>
    Please enable JavaScript to view the
    <a href="https://disqus.com/?ref_noscript" rel="nofollow">
        comments powered by Disqus.
    </a>
</noscript>
</%block>
