## -*- coding: utf-8 -*-
<%namespace name="helper" file="post_helper.tmpl"/>
<%namespace name="pheader" file="post_header.tmpl"/>
<%namespace name="comments" file="comments_helper.tmpl"/>
<%inherit file="base.tmpl"/>
<%block name="extra_head">
${helper.twitter_card_information(post)}
% if post.meta('keywords'):
    <meta name="keywords" content="${post.meta('keywords')|h}">
% endif
</%block>
<%block name="content">
    <div id="post-${post.meta('slug')}" class="post hfeed">
        <h2 class="entry-title"><a href='${permalink}'>${title}</a></h2>
        
        <div class="archive-meta">
            <span class="meta-sep">|</span>
            ${messages("Posted:")} <time class="published" datetime="${post.date.isoformat()}">${post.formatted_date(date_format)}</time>
            <span class="meta-sep">|</span>
            ${pheader.html_translations(post)}
            <%block name="sourcelink">
            % if not post.meta('password'):
                <a href="${post.source_link()}" id="sourcelink">${messages("Source")}</a>
            % endif
            </%block>
                ${helper.html_tags(post)}
            <span class="entry-tags">
            </span>
        </div>
        <div class="entry-content">
            ${post.text()}
        </div>
        <div class="entry-actions row fl-jus-end">
            <a class="entry-actions-item" id="comments_link" href="#" title="Comentarios">
                <img class="theme-icon" src="/assets/images/comment-icon.png" alt="Comentarios" />
            </a>
            <a class="entry-actions-item" id="printer_friendly_link" href="#" onclick="switch_printer_friendly( false ); return false;" title="Imprimir">
                <img class="theme-icon" src="/assets/images/print-icon.png" alt="Imprimir" />
            </a>
        </div>
    </div>
    ${helper.html_pager(post)}
    % if not post.meta('nocomments'):
        ${comments.comment_form(post.permalink(absolute=True), post.title(), post.base_path)}
    % endif
    ${helper.mathjax_script(post)}
    </div>
    <div id="propaganda_r">
    </div><!-- to include a random propaganda -->
<script>
$("#propaganda_r" ).load( "${rel_link(permalink,'/propaganda_r.html')}" );
</script>

</%block>
