html, body, div, span,  object, iframe, table, caption, tbody, tfoot, thead, tr, th, td,
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, article, main, nav, ins {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    line-height: inherit;
    vertical-align: baseline;
    font-family: inherit;
    min-width: 0;
}

* {box-sizing: border-box;}

@font-face {
  font-family: BitstreamCharter;
  src: url(../fonts/CharterBT-Roman.otf); }

body {
  color: #333333;
  background-color: #fff;
  font-size: 18px;
}

body div.main_container {
  font-family: "BitstreamCharter", serif !important;
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
  display: block; }

@media (max-width: 476px) {
  #header{
    align-items: center;
    text-align: center;
    font-size: 18px;
  }
  #blog-subtitle{
    flex-direction: column;
    justify-content: center;
  }
  .search-icon {
    display: none;
  }
  #search-container input {
   text-align:center;
  }
  .author h3{
    align-self: flex-end;
  }
  div#header #blog-title h1 {
    text-align: center;
  }
}

@media (min-width: 1200px) {
  body div.main_container {
    max-width: 1140px;
  }
}


div#header {
  display: flex;
  flex-direction:column;
  border-bottom: 1px solid #ebeae7;
  padding: 1em 0;
  margin: 0;
}

div#header #blog-title {
  line-height:1;
  flex: 0 0 100%;
  padding: 0; }

div#header #blog-title a {
  color: #222831; }
div#header #blog-title h1 #blog-title a:hover {
  color: #4c596d; }
div#header #blog-title h1 {
  text-transform: none;
  margin: 0px;
}
div#header #blog-subtitle {
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5em;
    white-space: nowrap;
  }

#search-container {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

#search input[type=text] {
  padding: 6px;
  font-size: 18px;
  border: none;
  background-color: #fafafa;
}

.author {
  display: flex;
}
.author h3 {
  margin:0;
}

.alt_text {
  background-color: #000;
  color: #FFF;
  text-align: center;
}

div.row {
  display: flex;
  flex-wrap: wrap;
}

div#content {
  flex: 1 1 800px;
  font-size: 16px;
  margin: 0 10px;

}

div.section{
  min-width: 0;
}

div.theme_sidebar {
  margin: 0 auto;
  flex: 0 0 250px;
  padding: 1em;
  border: none;
  background-color: #fafafa;
  height: fit-content;
  margin-top: 1em;
  text-align: center;}

div.theme_sidebar ul li{
  text-transform: none;
  margin: 0;
  font-size: 0.8em;
  text-align: left;
}

div#footer {
  padding: 3em 0;
  background: linear-gradient(to top, #ebeae7, white);
  text-align: center;
  bottom:0;
  color: #b1ada1; }
  div#footer p {
    margin: 0; }
div#footer .main_container {
  border-top: 1px solid #b7b6b3;
  color: #b7b6b3;
}


div#footer .main_container #footer-title {
  margin-top: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
div#footer .main_container #footer-title a {
  color: #b7b6b3;
  border: none;}
div#footer .main_container #footer-title a {
  color: #a2a19e;
  border: none;}

div#footer .main_container #footer-body {
  padding-top: 1em;
  justify-content: space-between;
}


div#footer #license-img {
  height: 24px;
  opacity: 0.8;
}

select {
  background-color: white;
  padding: 4px;
  font-size: 0.8em;
}

@media screen and (max-width: 600px) {
  #search-container {
    float: none;
  }
  #search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}

.fl-jus-between {
  justify-content: space-between;
}

.fl-jus-end {
  justify-content: flex-end;
}

div.theme_sidebar h3 {
  font-size: 0.9em;
  text-align: left;
  margin: 0;
  padding-top: 1.5em;
  padding-bottom: 0em;
}

div.hfeed {
  margin: 25px 0;
  min-width: 100%;
}

div.hfeed .entry-title,
div.hfeed .page-title,
div.comments h3,
div.entry-content h2,
div.entry-content h3,
div.entry-content h4,
div.entry-content h5,
div.entry-content h6,
div#header #blog-title,
div#header #blog-subtitle{
  font-family: inherit;
  text-transform: none;}

div.entry-content img {
  margin: auto;
  display: flex;
}

.entry-title h2 a {
  font-family: inherit;

}

div.hfeed .entry-title {
  margin-bottom: 1px;
  font-size: 1.8em;
}
div.hfeed .entry-title a:hover {
    border: none;
}

div.post:after {
  content: "";
  display: block;
  height: 1px;
  width: 25%;
  border-bottom: 1px solid #ebeae7;
  margin: auto;
  padding-top: 3em;
}

div.entry-meta, div.archive-meta {
  color: #cf4a59;
  font-size: 0.8em; }

.entry-actions-item {
  margin: 0 8px;
  border: none !important;}
.entry-actions-item img {
  height: 24px;
  width: 24px;
}

.tag-link {
  border-bottom: 1px solid #cf4a59;
  color: #cf4a59;
  font-weight: bold; }

div#tag_cloud {
  margin: 1em 0; }

div#tag_cloud [class^="tcs-es"] {
  background-color: #cf4a59;
  color: white;
  border-color: #cf4a59;
  padding: 3px; }

#tcs-es a.tcs-es0 {
  color: #ffffff !important; }

#tcs-es a.tcs-es1 {
  color: white !important; }

#tcs-es a.tcs-es2 {
  color: white !important; }

#tcs-es a.tcs-es3 {
  color: #faebed !important; }

div#sidebar_outer h2 {
  text-align: center;
  font-size: 1em; }

div#sidebar_outer [id^="propaganda"] {
  border-radius: 2px;
  padding: 8px;
  text-align: center; }

div.theme_sidebar a,
div.theme_sidebar a:link {
  background: transparent;
  color: #cf4a59;
  border-bottom: 1px solid #cf4a59;
  font-size: 0.8em; }
  div.theme_sidebar a:hover,
  div.theme_sidebar a:link:hover {
    color: #a22b38;
    border-bottom-color: 1px solid #a22b38; }

div.theme_sidebar a[id*="prop"] {
  border: none; }

.tab {
  position: relative;
  margin-bottom: 1px;
  width: 100%;
  overflow: hidden; }

.tab-input {
  position: absolute;
  opacity: 0;
  z-index: -1; }

.tab-label {
  position: relative;
  display: block;
  background: white;
  line-height: 1;
  cursor: pointer; }

.tab-content {
  max-height: 0;
  overflow: hidden;
  background: white;
  transition: max-height 0.35s; }

.tab-content p {
  margin: 0.5em 1em; }

input:checked ~ .tab-content {
  max-height: 10em; }

label::before {
  display: inline-block;
  width: 16px;
  color: #cf4a59;
  line-height: 1;
  text-align: center;
  transition: all 0.35s; }

input[type="checkbox"] + label::before {
  content: "\25B8"; }

input[type="checkbox"]:checked + label::before {
  transform: rotate(90deg); }

.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem; }

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #bdb9af; }
  .page-link:hover {
    color: #a5a194;
    background-color: #f7f6f5; }

.page-link.active {
  color: #cf4a59; }
  .page-link.active:hover {
    color: #b6303f; }

.pager {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  justify-content: space-between;
}
.pager a{
  font-weight: bold;
  color: #cf4a59 !important;
  border-bottom: none !important;
  cursor: pointer;
}
.pager .previous a[rel="prev"]::before {
  content: '〈 ';
  color: #cf4a59;
}
.pager .next a[rel="next"]::after {
  content: ' 〉';
  color: #cf4a59;
}

ul.tags {
  list-style: none;
  color: #cf4a59;
  font-size: 1em;
  display: flex;
  flex-wrap: wrap;
  padding: 0;}

ul.tags li a {
  font-size: 1em;
  display: inline-block;
  margin-right: 5px;}

.tag.p-category{
  border-bottom: none !important;
  color: white !important;
  background-color: #cf4a59;
  padding: 0 0.5em;
  border-radius: 0.5em;
}

.entry-content img {
  flex: 0 0 auto;
  max-width: 100%;
  max-height: 100%;
  align-self: center;
  -webkit-align-self: center;
  margin: auto;
  object-fit: scale-down;
}

pre.literal-block {
  flex: 1 1 0px;
  max-width: 100%;
  overflow-x: auto;
  background: #eee;
}

figure{
    background-color: #fafafa;
    position: relative;
    min-width: 0;
    max-width: 600px;
    margin: 0 auto;
    z-index: 1;
    width: 100%;
    margin-bottom: 20px;
}

figure img{
  padding: 5px;
}

figure figcaption{
  text-align: center;
  font-size: 80%;
}

div.entry-content pre{
  margin: 0 auto;
}
