
* {
  box-sizing: border-box; }

@font-face {
  font-family: BitstreamCharter;
  src: url(../fonts/CharterBT-Roman.otf); }


.fl-jus-between {
  display: flex;
  justify-content: space-between;
}
.fl-jus-end {
  display: flex;
  justify-content: flex-end;
}

body {
  font-family: "BitstreamCharter", serif !important;
  color: #333333;
  font-size: 18px;
  margin: 0; }

body div.container, body div#wrapper {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
  display: block; }
  @media (min-width: 576px) {
    body div.container, body div#wrapper {
      max-width: 540px; } }
  @media (min-width: 768px) {
    body div.container, body div#wrapper {
      max-width: 720px; } }
  @media (min-width: 992px) {
    body div.container, body div#wrapper {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    body div.container, body div#wrapper {
      max-width: 1140px; } }

div.row {
  display: flex;
  flex-wrap: wrap; }

div#container {
  margin: 0; }

div#content {
  margin: 0;
  flex: 1;
  width: 100%; }

div.theme_sidebar {
  margin-right: 0;
  width: 250px;
  margin-left: 2em;
  padding: 1em;
  border: none;
  background-color: #fafafa;
  height: fit-content;
  margin-top: 1em;
  text-align: center;}

div#footer {
  padding: 3em 0;
  background: linear-gradient(to top, #ebeae7, white);
  text-align: center;
  color: #b1ada1; }
  div#footer p {
    margin: 0; }
div#footer .container {
  border-top: 1px solid #b7b6b3;
  color: #b7b6b3;
}
div#footer .container #footer-title {
  margin-top: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
div#footer .container #footer-title a {
  color: #b7b6b3;
  border: none;}
div#footer .container #footer-title a {
  color: #a2a19e;
  border: none;}

div#footer .container #footer-body {
  padding-top: 1em;
  justify-content: space-between;
}

div#footer #license-img {
  height: 24px;
  opacity: 0.8;
}

input[type="text"] {
  margin-top: 4px;
  border: 0;
  border-bottom: 1px solid #333333;
  font-family: "BitstreamCharter", serif;
  font-size: 18px;
  color: #333333; }
  input[type="text"]:focus {
    outline: none !important;
    border-bottom: 1px solid #cf4a59; }

select {
  background-color: white;
  padding: 4px;
  font-size: 0.8em;
  font-family: "BitstreamCharter", serif; }

div#header {
  border-bottom: 1px solid #ebeae7;
  padding-top: 2em;
  padding-bottom: 1em; }
@media (max-width: 768px) {
  div#header {
    padding: 1em;
  }
  #search-form {
    margin-top: 1em;
  }
}

#search-form {
  align-items: center;
}
.search-icon {
  height: fit-content;
  margin-right: 5px;
}

div#header h1#blog-title {
  border: none;
  line-height: 1;
  font-size: 2.3em;
  padding: 0; }
  div#header h1#blog-title a {
    color: #222831; }
    div#header h1#blog-title a:hover {
      color: #4c596d; }

div#header h1#blog-title,
div.theme_sidebar ul li {
  font-family: "BitstreamCharter", serif;
  text-transform: none;
  margin: 0;
  text-align: left;
}
div.theme_sidebar h3 {
  font-size: 1em;
  text-align: left;
  margin: 0;
  padding-top: 1.5em;
  padding-bottom: 0em;
}

#blog-author {
  margin-top: 0.5em;
  margin-bottom: 0;
  padding-left: 2px; }

@media (max-width: 768px) {
  div.hfeed {
    margin: 0;
  }
}

div.hfeed .entry-title,
div.hfeed .page-title,
div.comments h3,
div.entry-content h2,
div.entry-content h3,
div.entry-content h4,
div.entry-content h5,
div.entry-content h6,
div#header div#blog-description,
div#header div.archive-description {
  font-family: inherit;
  text-transform: none; }

div.entry-content img {
  margin: auto;
  display: flex;
}

div.hfeed .entry-title {
  margin-bottom: 1px;
  font-size: 1.8em; }
  div.hfeed .entry-title a:hover {
    border: none; }

div.post {
  margin: 2em 1em 0 0;}

div.post:after {
  content: "";
  display: block;
  height: 1px;
  width: 25%;
  border-bottom: 1px solid #ebeae7;
  margin: auto;
  padding-top: 3em;
}

div.entry-meta, div.archive-meta {
  color: #cf4a59;
  font-size: 0.8em; }

.entry-actions-item {
  margin: 0 8px;
  border: none !important;}
.entry-actions-item img {
  height: 24px;
  width: 24px;
}

.tag-link {
  border-bottom: 1px solid #cf4a59;
  color: #cf4a59;
  font-weight: bold; }

div#tag_cloud {
  margin: 1em 0; }

div#tag_cloud [class^="tcs-es"] {
  background-color: #cf4a59;
  color: white;
  border-color: #cf4a59;
  padding: 3px; }

#tcs-es a.tcs-es0 {
  color: #ffffff !important; }

#tcs-es a.tcs-es1 {
  color: white !important; }

#tcs-es a.tcs-es2 {
  color: white !important; }

#tcs-es a.tcs-es3 {
  color: #faebed !important; }

div#sidebar_outer {
  padding-top: 0; }

div#sidebar_outer h2 {
  text-align: center;
  font-size: 1.2em; }

div#sidebar_outer [id^="propaganda"] {
  background-color: #ebeae7;
  border-radius: 2px;
  padding: 8px;
  text-align: center; }

div.theme_sidebar a,
div.theme_sidebar a:link {
  background: transparent;
  color: #cf4a59;
  border-bottom: 1px solid #cf4a59;
  font-size: 0.8em; }
  div.theme_sidebar a:hover,
  div.theme_sidebar a:link:hover {
    color: #a22b38;
    border-bottom-color: 1px solid #a22b38; }

div.theme_sidebar a[id*="prop"] {
  border: none; }

/* MODEL FOR TAB ACCORDION */
/* <div class="tab">
    <input id="aLink" class="tab-input" type="checkbox" name="tabs">
    <label for="aLink" class="tab-label">
        Label One
    </label>
    <div class="tab-content">
        <p>Lorem ipsum dolor sit amet</p>
    </div>
</div> */

.tab {
  position: relative;
  margin-bottom: 1px;
  width: 100%;
  overflow: hidden; }

.tab-input {
  position: absolute;
  opacity: 0;
  z-index: -1; }

.tab-label {
  position: relative;
  display: block;
  background: white;
  line-height: 1;
  cursor: pointer; }

.tab-content {
  max-height: 0;
  overflow: hidden;
  background: white;
  transition: max-height 0.35s; }

.tab-content p {
  margin: 0.5em 1em; }

/* :checked */
input:checked ~ .tab-content {
  max-height: 10em; }

/* Icon */
label::before {
  display: inline-block;
  width: 16px;
  color: #cf4a59;
  line-height: 1;
  text-align: center;
  transition: all 0.35s; }

input[type="checkbox"] + label::before {
  content: "\25B8"; }

input[type="checkbox"]:checked + label::before {
  transform: rotate(90deg); }

/* MODEL PAGINATOR */
/* <ul class="pagination">
  <li class="page-link"> < </li>
  <li class="page-link active"> 1 </li>
  <li class="page-link"> 3 </li>
  <li class="page-link"> ... </li>
  <li class="page-link"> > </li>
</ul> */

.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem; }

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #bdb9af; }
  .page-link:hover {
    color: #a5a194;
    background-color: #f7f6f5; }

.page-link.active {
  color: #cf4a59; }
  .page-link.active:hover {
    color: #b6303f; }

.pager {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.pager a{
  font-weight: bold;
  color: #cf4a59 !important;
  border-bottom: none !important;
  cursor: pointer;
}
.pager .previous a[rel="prev"]::before {
  content: '〈 ';
  color: #cf4a59;
}
.pager .next a[rel="next"]::after {
  content: ' 〉';
  color: #cf4a59;
}

@media (max-width: 768px) {
  .pager .previous, .pager .next {
    margin-bottom: 10px;
  }
  .pager .next {
    width: 100%;
    text-align: right;
  }
}

ul.tags {
  list-style: none;
  color: #cf4a59;
  font-size: 1em;
  display: flex;
  flex-wrap: wrap;
  padding: 0;}

ul.tags li a {
  font-size: 1em;
  display: inline-block;
  margin-right: 5px;}

.tag.p-category{
  border-bottom: none !important;
  color: white !important;
  background-color: #cf4a59;
  padding: 0 0.5em;
  border-radius: 0.5em;
}
