## -*- coding: utf-8 -*-
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
$( function() {
  $( "#accordion" ).accordion();
} );
</script>

<%namespace name="helper" file="sidebar-helper.tmpl"/>

<div>
  <h2>
    About.
  </h2>
  <div>
    This is a blog.
  </div>
</div>
${ helper.list_months(archive_list) }
<!--
% if global_posts:
  ${ helper.list_posts(global_posts) }
% endif
% if global_category_items:
  ${ helper.list_taxonomy("Categories", global_category_items, global_category_hierarchy, type='category') }}
% endif
% if global_archive_hierarchy:
  ${ helper.archives(global_archive_hierarchy) }
% endif
% if global_tag_items:
  ${ helper.list_taxonomy("Tags", global_tag_items, type='tag') }
% endif
-->