<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{$locale->getLanguageId()}" 
      lang="{$locale->getLanguageId()}" dir="{$locale->getDirection()}">
<head>
    <title>{$pageTitle|escape:"html"}</title>
    <meta http-equiv="Content-Type" content="text/html;charset={$locale->getCharset()}" />
    <meta name="generator" content="{$version}" />
    <meta http-equiv="Content-Language" content="{$locale->getLanguageId()}" />
    
    <link rel="stylesheet" title="default" type="text/css" media="screen" href="{$url->getTemplateFile("style.css")}" />
    <link rel="alternate" type="text/xml" title="RSS 2.0" href="{$url->rssLink("rss20")}" />
    <link rel="alternate" type="text/xml" title="RSS 1.0" href="{$url->rssLink("rss10")}" />
    <link rel="alternate" type="text/xml" title="RSS 0.90" href="{$url->rssLink("rss090")}" />
    <link rel="alternate" type="application/atom+xml" title="Atom 0.3" href="{$url->rssLink("atom")}" />
 <link rel="shortcut icon" type="image/x-icon" href="http://www.taniquetil.com.ar/favicon.ico" />
{if $badbehavior}
   {$badbehavior->showBB2JavaScript()}
{/if}
</head>

<body>

<div id="rap">

<div id="headr">
  &nbsp;
  <div style="float:left;">
    <a href="http://www.taniquetil.com.ar/plog/"><img src="http://www.taniquetil.com.ar/plog/titulo.png"/></a>
  </div>
  <div style="float:right;">

<!-- Start of Flickr Badge -->
{literal}
<style type="text/css">
.flickr_badge_image img {border: 1px solid black !important;}
</style>
<table cellpadding="0" cellspacing="5" border="0">
<tr>
  <script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=3&display=random&size=s&layout=h&source=user&user=54757453%40N00">
  </script>
</tr>
</table>
{/literal}
<!-- End of Flickr Badge -->

  </div>
  <div style="clear:both;">&nbsp;</div>
</div>
