{include file="$blogtemplate/header.template"}

<div id="content">
 {foreach from=$posts item=post}
  <div class="post">
    {include file="$blogtemplate/post.template"}
  </div>
 {/foreach}
 {pager style="links"}
</div>
{include file="$blogtemplate/panel.template"}
{include file="$blogtemplate/footer.template"}