<ul>
<li><a href=http://twitter.com/facundobatista/statuses/3181351477>&#161;Defensa y victoria! &#161;Libertad e independencia! &#161;Triunvirato y avenida de los incas! Que grande #lesluthiers ... (hace 2 horas)</a></li>
<li><a href=http://identi.ca/notice/7735076>Quiero *ya* ir a ver Alicia en el pais de las maravillas en 3D (hace 3 horas)</a></li>
<li><a href=http://identi.ca/notice/7731684>Con suerte, hoy termino un "laburito" que arranqu&#233; tres semanas atr&#225;s.... (hace 4 horas)</a></li>
<li><a href=http://twitter.com/facundobatista/statuses/3178811909>@chaghi: S&#237;... al viejo charly, al viejo fito, al viejo rock... sabelo, los viejos somos nosotros... (hace 5 horas)</a></li>
<li><a href=http://identi.ca/notice/7728527>Me voy a comprar cervezas para esta noche... (hace 5 horas)</a></li>
<li><a href=http://identi.ca/notice/7697325>Tomando un vino, terminando de agregar microblogging a mi blog (hace 19 horas)</a></li>
<li><a href=http://twitter.com/facundobatista/statuses/3171516725>@aseba: te juro que no me dura hasta el jueves... :p (hace 20 horas)</a></li>
<li><a href=http://twitter.com/facundobatista/statuses/3171467131>@aseba: Hoy me hice una sopa de verduras casera, que si estabas cerca te invitaba! (hace 20 horas)</a></li>
<li><a href=http://twitter.com/facundobatista/statuses/3168369307>@Emita: siiii, mateeeeee, que buena idea (hace un d&#237;a)</a></li>
<li><a href=http://identi.ca/notice/7680655>import kernel; kernel.panic() (hace un d&#237;a)</a></li>
</ul>
